.header {
    display: flex;
    gap: 20px;
    background-color: #547792;
    color: #ffffff00;
}

.header a {
    text-decoration: none;
    color: #000000;
    display: flex;
    display: inline-block;
    padding: 20px 20px;
}

header a:hover {
    background-color: #94B4C1;
}

